{
  "*.{ts,html,css}": [
    "prettier --config .prettierrc --write"
  ],
  "**/*.ts": [
    "eslint -c .eslintrc.json",
    "tsc-files --noEmit --skipLibCheck",
    "jest --bail --findRelatedTests"
  ]
}
